<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gile {{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body class="main-bg">
<div class="container text-center">
    <div class="row justify-content-around">
        <div class="col-sm-8">
            <h1 class="my-5"><span class="badge badge-warning">Gile</span> {{ title }}</h1>
        </div>
    </div>
    {% if type == 0 %}
        <div class="row justify-content-around">
            <div class="col-md-5 col-sm-6">
                <div class="card card-white text-black bg-light mb-3">
                    <div class="card-header h3">Авторизация</div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="InputEmail1">E-mail</label>
                                <input type="email" name="logemail" class="form-control" id="InputEmail1"
                                       placeholder="Введите E-mail">
                            </div>
                            <div class="form-group">
                                <label for="InputPassword1">Пароль</label>
                                <input type="password" name="logpassword" class="form-control" id="InputPassword1"
                                       placeholder="Введите пароль">
                            </div>
                            <button type="submit" class="mt-4 btn btn-primary btn-lg btn-block">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="card card-white text-black bg-light mb-3">
                    <div class="card-header h3">Регистрация</div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="InputEmail2">E-mail</label>
                                <input type="email" name="email" class="form-control" id="InputEmail2"
                                       aria-describedby="emailHelp" placeholder="Введите E-mail">
                                <small id="emailHelp" class="form-text text-muted">Мы никогда не будем делиться вашей
                                    электронной почтой с кем-либо еще.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="InputUsername2">Имя пользователя</label>
                                <input type="text" name="username" class="form-control" id="InputUsername2"
                                       placeholder="Введите имя пользователя">
                            </div>
                            <div class="form-group">
                                <label for="InputPassword2">Пароль</label>
                                <input type="password" name="password" class="form-control" id="InputPassword2"
                                       placeholder="Введите пароль">
                            </div>
                            <div class="form-group">
                                <label for="InputPasswordConfirm2">Повторить пароль</label>
                                <input type="password" name="passwordConf" class="form-control"
                                       id="InputPasswordConfirm2" placeholder="Введите пароль повторно">
                            </div>
                            <button type="submit" class="mt-4 btn btn-success btn-lg btn-block">Зарегистрироваться
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if type == 1 %}
        <div class="col-sm-7 twoBox">
            <h3 class="my-4">Тикеты</h3>
            {% for task in tasks %}
                <div class="card {% if task.completed %}text-white bg-success {% else %}bg-light {% endif %}mb-3 dib"
                     style="width: 18rem;">
                    <div class="card-header">
                        {{ task.title }}
                        <a href="/task?type=delete&taskId={{ task._id }}" type="button" class="close"
                           aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ task.description }}</p>
                    </div>
                    <div class="card-footer">Дата создания: {{ task.dateCreated|date("m.d.Y") }}{% if task.completed %}
                    <br>Дата завершения: {{ task.dateCompleted|date("m.d.Y") }}{% else %}<a type="button" href="/task?type=complete&taskId={{ task._id }}" class="mt-2 btn btn-success btn-lg btn-block">Выполнено!</a>{% endif %}</div>
                </div>
            {% endfor %}
            <div class="card bg-light mb-3 dib" style="width: 18rem;">
                <form method="GET" action="/task">
                    <div class="card-header">
                        <input name="type" value="add" style="display:none;">
                        <input type="text" class="form-control" name="title" placeholder="Название задачи">
                    </div>
                    <div class="card-body">
                        <p class="card-text"><input type="text" class="form-control" name="description"
                                                    placeholder="Описание задачи"></p>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-dark btn-lg btn-block">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4 twoBox">
            <h3 class="my-4">Ваши данные</h3>
            <div class="row justify-content-around">
                <div class="alert alert-warning" role="alert" style="width:100%;">
                    <b>Имя пользоватея:</b> {{ username }}
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="alert alert-warning" role="alert" style="width:100%;">
                    <b>E-mail:</b> {{ email }}
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="alert alert-warning" role="alert" style="width:100%;">
                    <b>Опыт:</b> {{ expirience }} ед.
                </div>
            </div>
            <div class="row justify-content-around">
                <a type="button" class="mt-1 btn btn-danger btn-block" href="logout" style="width:100%;">Выйти</a>
            </div>
        </div>
        <!--
        <div class="row justify-content-around">
            <div class="col-sm-5">
                <div class="card bg-light mb-3">
                    <div class="card-header">Имя пользоватея</div>
                    <div class="card-body">
                        <p class="card-text">{{ username }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-5">
                <div class="card bg-light mb-3">
                    <div class="card-header">E-mail</div>
                    <div class="card-body">
                        <p class="card-text">{{ email }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-5">
                <div class="card bg-light mb-3">
                    <div class="card-header">Опыт</div>
                    <div class="card-body">
                        <p class="card-text">{{ expirience }}</p>
                    </div>
                </div>
            </div>
        </div>
        -->
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
