<div class="card {% if subTask.completed %}text-white bg-primary {% else %}bg-light {% endif %}mb-3 dib"
     style="width:16rem;">
    <div class="card-header">
        {{ subTask.title }}
    </div>
    <div class="card-body" >
        <p class="card-text">{{ subTask.description }}</p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</button>
        <div class="dropdown-menu p-0 text-muted">
            <ul class="list-group">
                <li class="list-group-item">Начало: {{ subTask.dateCreated|date("d.m.Y H:i") }}</li>
                {% if subTask.completed %}<li class="list-group-item">Завершение: {{ subTask.dateCompleted|date("d.m.Y H:i") }}</li>{% endif %}
                <li class="list-group-item">Опыт: {{ subTask.difficulty }}</li>
            </ul>
        </div>
        {% if subTask.completed == false %}
            {% set loginform = app.request.query.get('login') %}
            <button type="button" onclick="window.location.href='/task?type=complete&amp;taskId={{ subTask._id }}&amp;taskOwnerId={{ task._id }}'" class="mt-2 btn btn-success btn-block">Выполнено</button>
            <button type="button" onclick="window.location.href='/task?type=delete&amp;taskId={{ subTask._id }}&amp;taskOwnerId={{ task._id }}'" class="mt-2 btn btn-danger btn-block">Удалить</button>
        {% endif %}
    </div>
</div>